{%- if page.key and
  site.comments.gitalk.clientID and
	site.comments.gitalk.clientSecret and
	site.comments.gitalk.repository and
	site.comments.gitalk.owner and
	site.comments.gitalk.admin -%}

	<!-- fix text color in the input textarea of gitalk -->
	<style type="text/css">
		.gitalk-wrapper .gt-header-textarea {
			color: #333 !important;
		}
	</style>

	{%- include snippets/get-sources.html -%}
	{%- assign _sources = __return -%}
	<div class="gitalk-wrapper" id="js-gitalk-container"></div>
	{%- assign _admin = '' -%}
	{%- for _admin_id in site.comments.gitalk.admin -%}
		{%- assign _admin = _admin | append: ", '" | append: _admin_id | append: "'" -%}
	{%- endfor -%}
	{%- assign _last = _admin | size | minus: 1 -%}
	{%- assign _admin = _admin | slice: 2, _last -%}
	<script>
		window.Lazyload.css('{{ _sources.gitalk.css }}');
		window.Lazyload.js('{{ _sources.gitalk.js }}', function() {
			var gitalk = new Gitalk({
				proxy:'https://cors-anywhere.azm.workers.dev/https://github.com/login/oauth/access_token',
				clientID: '2b5fa0ba553c9eb86848',
				clientSecret: 'e387e9268e8c01e74967d54b33f3873b130a2287',
				repo: 'blog-comments',
				owner: 'qixiaobro',
				admin: ['qixiaobro'],
				id: '{{ page.key }}'
			});
			gitalk.render('js-gitalk-container');
		});
	</script>

{%- endif -%}
